{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Ajout d'une contribution
</h1>

<div class="box">
	<form method='POST' action="/add_contrib">
		<div class="field">
                <div class="control">
					<label> User id	</label>
                    <input class="input is-large" type="text" name="user_id"  autofocus="">
					<label> Username </label>
                    <input class="input is-large" type="text" name="username"  autofocus="">
					<label> Validate </label>
                   <input type="radio" name="validate" value="true"/>
								<label> true </label>
								<input type="radio" name="validate" value="false"/>
								<label> false</label>
								<br/>
					<label> Contrib type </label>
                    <input class="input is-large" type="text" name="contrib_type"  autofocus="">
					<label> Dico id </label>
                    <input class="input is-large" type="text" name="dico_id"  autofocus="">
					<label> Public id </label>
                    <input class="input is-large" type="text" name="public_id"  autofocus="">
					<label> Article id </label>
                    <input class="input is-large" type="text" name="article_id"  autofocus="">
					<label> Contrib name </label>
                    <input class="input is-large" type="text" name="contrib_name"  autofocus="">
					<label> Contrib path </label>
                    <input class="input is-large" type="text" name="contrib_path"  autofocus="">
					<label> Contrib data </label>
                    <input class="input is-large" type="text" name="contrib_data"  autofocus="">
                </div>
            </div>
	</form>
	<button class="button is-block is-info is-large is-fullwidth">Envoyer</button>
</div>
{% endblock %}
