<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8"/>
  <title>Login</title>
  <meta http-equiv="Content-Type"/>
  <meta content="text/html"/>
  <!-- <link rel="stylesheet" href="premier_devoir.css"/>  -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="premier_devoir.js"></script>
  <script>
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
  crossorigin="anonymous"
  </script>
</head>

<header id="entete">
<h1>Ceptyconsultant</h1>
<h2>Accès à l'application</h2>
</header>

<body class="paillette">

<form id="data" class="formulaire" actions="http://0.0.0.0:5000/login" method="POST">
  <fieldset>
    <legend>Authentification</legend>
      <input id="user" name="user" type="text" placeholder="Nom utilisateur" />
      <input id="mdp" name="password" type="text" placeholder="Mot de passe" />
      <button type="submit">S'identifier</button>
  </fieldset>
</form>

</body>
</html>
