{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Recherche de contribution
</h1>

<div class="box">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="notification is-danger">
      {{ messages[0] }}
    </div>
  {% endif %}
  {% endwith %}
	<form method='POST' action="/match_contrib">
		<div class="field">
                <div class="control">
					<label> Sélectionnez un champ</label>
                   <!-- <input class="input is-large" type="text" name="champ"  autofocus=""> -->
			</br>
					<select name="champ"></br>
						<option value="user_name">user_name</option>
						<option value="contrib_type">contrib_type</option>
						<option value="contrib_data">contrib_data</option>
						<option value="contrib_path">contrib_path</option>
						<option value="contrib_name">contrib_name</option>
						<option value="ntealan">ntealan</option>
						<option value="validate">validate</option>
					</select>
					</br>
					<label> Entrez ici la valeur souhaitée de ce champ</label>
                    <input class="input is-large" type="text" name="valeur"  autofocus="">
                </div>
            </div>
    <button class="button is-block is-info is-large is-fullwidth">Envoyer</button>
	</form>
</div>
{% endblock %}
